{% extends "base.html" %}

{% block head %}
    {{ form.media }}
{% endblock %}


{% block inline-scripts %}
    <script type="text/javascript" src="/home/maxwell/Documents/Project/IPZ/static/tiny_mce/tiny_mce_src.js"></script>
    <script type="text/javascript" src="{% url "tinymce-js" "advanced" %}"></script>
{% endblock inline-scripts %}

{% block content %}
    <form action="" method="post">

        {{ form }}
        <label for="title">Input title:</label>
        <input id="title" type="text" name="title" value="Lecture"/>
        <input id="course" type="hidden" name="course" value="{{ course }}"/>
        <input type="submit" value="Submit" />
    </form>

    <p>{{ session.views }} </p>
{% endblock content %}